

<header>
    TOP MENU ELEMENTS
    <nav class = "navbar navbar-expand-md navbar-dark bg-dark">
        <div><a routerLink= "" class="navbar-brand">ERA-InfoTech</a> </div>

        <ul class="navbar-nav">
            <li><a routerLink= "/welcome/pks" class = "nav-link">Home</a></li>
            <li><a routerLink= "/todos" class = "nav-link">Todos</a></li>
        </ul>

        <ul class="navbar-nav">
            <li><a routerLink= "/login" class = "nav-link">Login</a></li>
            <li><a routerLink= "/logout" class = "nav-link">Logout</a></li>
        </ul>
    </nav>
</header>    
