

<header>
    TOP MENU ELEMENTS
    <nav class = "navbar navbar-expand-md">
        <div><a href= "">ERA-InfoTech</a> </div>

        <ul class="navbar-nav">
            <li><a href= "/welcome/pks" class = "navbar-link">Home</a></li>
            <li><a href= "/todos" class = "navbar-link">Todos</a></li>
        </ul>

        <ul class="navbar-nav">
            <li><a href= "/login" class = "navbar-link">Login</a></li>
            <li><a href= "/logout" class = "navbar-link">Logout</a></li>
        </ul>
    </nav>
</header>    
