<div class="container">
    <div class="alert alert-warning" *ngIf="todoform.dirty && todoform.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="targetdate.dirty && targetdate.invalid">Target date is invalid</div>
    <div class="alert alert-warning" *ngIf="description.dirty && description.invalid">Enter atleast 5 chars in title</div>

    <form (ngSubmit)="!todoform.invalid && saveTodoRest()" #todoform="ngForm">
    <h1>Todo</h1>
    <br>
    <br>
    <fieldset class="form-group">
        <label>Description</label>
        <input type="text" #description="ngModel" [(ngModel)]="todo.description" class="form-control" name="description" required="required" >
    </fieldset>

    <fieldset class="form-group">
        <label>Date</label>
    <input type = "date" [ngModel]="todo.targetDate | date:'yyyy-MM-dd'" #targetdate="ngModel"
    (ngModelChange)="todo.targetDate =$event" class="form-control" name="targetDate" required="required" >
    </fieldset>
    <button type="submit" class="btn btn-success" >Save</button>

    </form>
</div>
