<h2>employee list</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees"> 
            <td>{{employee.fname}}</td>
            <td>{{employee.lname}}</td>
            <td>{{employee.email}}</td>
            <th>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
            </th>
            

        </tr>
    </tbody>
</table>
