<!-- <h1 class="head">{{title}}</h1>

<h1>{{getName()}}</h1>

<h1>{{arr}}</h1> -->


<app-login></app-login>

<app-signup></app-signup>
<button (click)="getName()">Get Name</button>
<br>
<br>
<button (click)="myEvent('Button clicked')">Event button</button>

<br>
<br>
<!-- Take input -->
<input type="text" #box (keyup)="myEvent(box.value)"/>


<br>
<br>
<!-- only shows inputted text when pressed enter -->
<input type="text" #box2 (keyup.enter)="myEvent(box2.value)"/>

<br>
<br>
<!-- only shows inputted text when pressed space -->
<input type="text" #box3 (keyup.space)="myEvent(box3.value)"/>


<br>
<br>
<!-- Blur event. Works when clicked outside -->
<input type="text" #box4 (blur)="myEvent('blue event')"/>

<div    (mouseover) = "myEvent('hover event')"
style="background-color:skyblue">
Mousevent
</div>


<div  (mouseleave) = "myEvent('hover event')"
style="background-color:rgb(119, 59, 175)">
mouse leave
</div>

 
<!-- <input type="text"(click)="getVal($event.target.value)" /> -->

<br>
<br>

<input type="text" #val/>
<button (click)=" getVal(val.value)">Get value</button>
{{currentValue}}


<h4>Foor Loop Angular</h4>
<h4 *ngFor="let item of data">
{{item}}
</h4>

<h3>Details for loop</h3>
<div *ngFor="let item of details" style="background-color:blue">
    <h3 >{{item.name}}</h3>
    <h3>{{item.Job}}</h3>
</div>